body{
    background-image:url("https://github.com/SalazarKent/Salazar_Webdev_Midterm/blob/master/calendar.jpg");
    background-color: lightgrey;
    
   
    

  }
  .container {
    max-width: 800px; 
    margin: auto; 
    font-family: sans-serif;
  }

  tr, th, td {
    padding: 20px;
  }

  .month {
    text-align: center;
    color: #ADD8E6; 
    padding: 25px;
    background-color: gray;
    border: 1px solid #ADD8E6; 
    font-size: 2.5em; 
    letter-spacing: 5px;  
  }
  table, th, td {
    width: 100%;  
    text-align: center; 
    font-size: 18px; 
    border: 1px solid #89CFF0;
    table-layout:fixed;
    border-collapse: collapse; 
  }

  th {
    background: gray;
    color: #00FFFF; 
  }
  td {
    background: gray; 
  }
  #bmonth {
    font-size: 20px;
    background: gray;
  }
