/*-----Everything will be applied-----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html{
    font-family: Verdana, sans-serif;
    font-weight: 100;
}

.blue{
    color: #027BFF;
}

.white{
    color: #027BFF;
}

body{
    width: 60%;
    margin: auto;
    background-image: url("images/BG.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}

h2{
    font-size: 35px;
    font-weight: 400;
    color: #17191A;
}

h5{
    font-size: 20px;
    margin-top: 10px;
    color: #17191A;
}

p{
    color: #8F9EA5;
    opacity: 0.8;
    font-weight:100;
    margin-top: 10px;
    font-size: 20px;
}

/*-----For Navigation-----*/
.nav{
    display: flex;
    align-items: center;
    height: 100px;  
}

.contactMe, .navIcons{
    flex: 1;
}

.navIcons{
    text-align: right;
}

.navIcons a, .contactMe a, .contactMe img{
    display: inline-block;
    vertical-align: middle;
}

.navIcons a{
    margin-left: 40px;
}

.contactMe a{
    color: #027BFF;
    text-decoration: none;
}

.contactMe img{
    margin-right: 10px;
}

/*-----For Landing-----*/

.landing {
    height: 100vh;
    position: relative;
}

.landingWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

ul{
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}

.landingL{
    margin-top: 4em;   
}

.scroll{
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

/*-----For Skills-----*/

.skills{
    text-align: center;
    margin-bottom: 20em;   
}

.skills p {
    margin-bottom: 30px;
}

.skills img{
    width: 40px;
    margin: 0 15px;
}

/*-----For My Project-----*/

.name {
    text-align: center;
    margin-bottom: 20px;
}


/*-----For Project 1-----*/

.work{
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work > .workText{
    position: absolute;
    top: 85px;
}

.work > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.work > .projectImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work ul {
  position: absolute;
  bottom: 0;
  right: 86%; 
}

.work ul li {
    margin-top: 20px;

}

/*-----For Project 2-----*/

.work2{
    width: 100%;
    position: relative;
    margin-bottom: 20em;    
}

.work2 > .workText{
    position: absolute;
    top: 85;
    right: 0;
    text-align: right;
}

.work2 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}

.work2 > .projectImg{
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work2 ul{
    position: absolute;
    bottom: 0;
    left: 86%;
}

.work2 ul li {
    margin-top: 20px;
}

/*-----For Project 3-----*/

.work3{
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work3 > .workText{
    position: absolute;
    top: 85px;
}

.work3 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.work3 > .projectImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work3 ul {
  position: absolute;
  bottom: 0;
  right: 86%; 
}

.work3 ul li {
    margin-top: 20px;

}

/*-----For Project 4-----*/

.work4{
    width: 100%;
    position: relative;
    margin-bottom: 20em;    
}

.work4 > .workText{
    position: absolute;
    top: 85;
    right: 0;
    text-align: right;
}

.work4 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}

.work4 > .projectImg{
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work4 ul{
    position: absolute;
    bottom: 0;
    left: 86%;
}

.work4 ul li {
    margin-top: 20px;
}

/*-----For Project 5-----*/

.work5{
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work5 > .workText{
    position: absolute;
    top: 85px;
}

.work5 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.work5 > .projectImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work5 ul {
  position: absolute;
  bottom: 0;
  right: 86%; 
}

.work5 ul li {
    margin-top: 20px;

}

/*-----For Project 6-----*/

.work6{
    width: 100%;
    position: relative;
    margin-bottom: 20em;    
}

.work6 > .workText{
    position: absolute;
    top: 85;
    right: 0;
    text-align: right;
}

.work6 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}

.work6 > .projectImg{
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work6 ul{
    position: absolute;
    bottom: 0;
    left: 86%;
}

.work6 ul li {
    margin-top: 20px;
}

/*-----For Project 7-----*/

.work7{
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work7 > .workText{
    position: absolute;
    top: 85px;
}

.work7 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.work7 > .projectImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work7 ul {
  position: absolute;
  bottom: 0;
  right: 86%; 
}

.work7 ul li {
    margin-top: 20px;

}

/*-----For the Underline in text-----*/

.work a, .work2 a, .work3 a, .work4 a, .work5 a, .work6 a, .work7 a{
    text-decoration: none;
    color: #17191A;
}

/*-----For Footer-----*/

.footer{
    background-image: url("images/github_large.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 320px;
    padding-bottom: 7em;
    text-align: center;
}
.footer a{
    color: #027BFF;
    text-decoration: none;
}

.footer h6{
    text-align: center;
}
.underlineSmall {
    display: block;
    height: 3px;
    width: 41px;
    margin: 5px auto 0 auto;
    background-color: #027BFF;
}